<ion-header>
  <ion-navbar>
    <ion-title>Wissels per {{whatWePlay}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <button ion-button icon-left *ngIf="availablePlayers.length >= fieldPlayers">
    <ion-icon name="play" (click)="startGame()"></ion-icon> Start
  </button>
  <ion-list>
    <ion-item-divider color="light">Startopstelling</ion-item-divider>
    
    <ion-item *ngFor="let player of getStartOpstelling()">
{{player}}
    </ion-item>
  </ion-list>
  <ion-list *ngFor="let time of timeBlocks">

    <ion-item-divider color="light">Wissels na {{time}}</ion-item-divider>
  </ion-list>


</ion-content>