<ion-header>
  <ion-navbar>
    <button ion-button [menuToggle]="activeMenu" *ngIf="!gameStarted">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Wedstrijd
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="!allowStart">
    <p>Er zijn geen spelers om de wedstrijd mee te beginnen. Maak eerst een nieuw team aan.</p>

  </div>
  <div *ngIf="!formationDone && allowStart">
    <p>Bepaal de opstelling, basis en wissels.</p>
    <button ion-button full icon-left round (click)="goToAttendance()" *ngIf="!formationDone && allowStart">
      <ion-icon name="people"></ion-icon> Opstelling
    </button>
  </div> 
  <div *ngIf="formationDone">
    <div class="wt-timer" text-center>{{currentGameTime.format("mm:ss")}} </div>
    {{remainingGameTime.format(("mm:ss"))}}
    <button ion-button color="secondary" full icon-left round (click)="startGame()" *ngIf="!currentGame.gameStarted || currentGame.gamePaused"><ion-icon name="play"></ion-icon> Start {{whatWePlay}}</button>
    <button ion-button color="light" full icon-left round (click)="pauseGame()" *ngIf="currentGame.gameStarted && currentGame.gamePaused== false"><ion-icon name="pause"></ion-icon> Pauzeer {{whatWePlay}}</button>
    <button ion-button color="danger" full icon-left round (click)="stopGame()" *ngIf="currentGame.gameStarted && currentGame.gamePaused"><ion-icon name="square"></ion-icon> Beëindig {{whatWePlay}}</button>

    <h4>Veld</h4>
    <ion-badge *ngFor="let player of currentPitch">
      {{player.name}}
    </ion-badge>
    <hr>
    <h4>Bank</h4>
    <ion-badge *ngFor="let player of currentBench">
      {{player.name}}
    </ion-badge>
    <hr>
    <h4>Wissel rooster</h4>
    <div *ngFor="let player of substitutes">
      <div *ngIf="currentIndex < player.index">
        <h5> {{player.formattedTime()}}</h5>
        <ion-list>
          <ion-item *ngIf="player.inName !=''">
            <ion-icon name="arrow-up" color="secondary"></ion-icon>
            {{player.inName}}
          </ion-item>
          <ion-item *ngIf="player.outName !=''">
            <ion-icon name="arrow-down" color="danger"></ion-icon>
            {{player.outName}}
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
